{% extends 'base.html' %}
{% block title %}
  Вход
{% endblock %}
{% block content %}
  <h1>Вход</h1>
  <div class="module">
    {% if form.errors %}
      <p>Не удалось войти. Пожалуйста, проверьте введённые данные.</p>
    {% else %}
      <p>Используйте следующую форму для входа:</p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p>
          <input type="submit" value="Войти" />
        </p>
      </form>
    </div>
    Если у вас нет аккаунта, то вы можете <a href="{% url 'student_registration' %}">зарегистрироваться</a>
  </div>
{% endblock %}
